base-cluster/target/connector-0.0.1.jar
README.pdf
doc/MARKETPLACE.pdf
doc/SCRIPTS.pdf
doc/consumer/CONSUMER.pdf
doc/provider/PROVIDER.pdf
doc/trust-anchor/TRUST-ANCHOR.pdf
newScenario/changes.txt
newScenario/changesDeploy.docx
newScenario/spool/01.deploy_cluster_spool.txt
newScenario/spool/02.deploy_trust_anchor_spool.txt
newScenario/spool/03.deploy_consumer_spool.txt
newScenario/spool/04.deploy_provider_spool.txt
newScenario/spool/05.create_wallet_spool.txt
wallet/cert.pem
wallet/cert.pfx
wallet/did.json
wallet/private-key.pem
wallet/public-key.pem
consumer/consumer-identity/cert.pem
consumer/consumer-identity/cert.pfx
consumer/consumer-identity/did.key
consumer/consumer-identity/private-key.pem
consumer/consumer-identity/public-key.pem
provider/provider-identity/cert.pem
provider/provider-identity/cert.pfx
provider/provider-identity/did.key
provider/provider-identity/private-key.pem
provider/provider-identity/public-key.pem
